H1{font-size: 36pt; color: Blue; text-align:center;}
a{font:16px verdana;
text-align:center;}
p{
text-align:center;
 font-weight: bold;
color: 	#00BFFF}
label{
 font-weight: bold;
color: 	#00BFFF}
fieldset{
color: Blue;}
h5{color: Blue;}
nav{color: Blue;}

