H1{font-size: 36pt; color:white; text-align:center;}
a{font:16px verdana;
text-align:center;
color: white;}
p{
text-align:center;
 font-weight: bold;
color: white;}
label{
 font-weight: bold;
color: 	white;}
fieldset{
color: white;}
h5{color: white;}
nav{color: white;}

